{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <div class="text-center mt-4">
        <a href="{% url 'main:message_create' %}" class="btn btn-primary btn-lg">Создать сообщение</a>
    </div>

    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text"> Тема:{{ object.subject_of_letter }}</p>
                    <p class="card-text">Тело письма: {{ object.body_of_letter }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'main:message_delete' pk=object.pk %}" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}